<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav>

    <div class="w-full h-[30px] bg-red-600 flex items-center justify-center">
        <p class="text-white">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <a href="../../pages/shop-page/shop-page.html" class="underline text-bold">Shop Now</a></p>
    </div>

    <div class="w-full h-[60px] flex border-b-1 border-grey-300 justify-between">
        <div class="flex items-center space-x-3 w-full">
            <div class="w-[60%] h-full flex items-center justify-around">
            <div class="flex items-center space-x-3">
                <h1 class="no-underline font-bold text-xl">E-commerce</h1>
                <ul class="flex">
                    <li><a class="px-3 py-2 hover:underline" href="../../pages/home-page/home-page.html">Home</a></li>
                    <li><a class="px-3 py-2 hover:underline" href="../../pages/contact-page/contact-page.html">Contact</a></li>
                    <li><a class="px-3 py-2 hover:underline" href="../../pages/about-page/about-page.html">About</a></li>
                    <li><a class="px-3 py-2 hover:underline" href="../../pages/sign-up-page/sign-up-page.html">Sign Up</a></li>
                </ul>
            <button type="button" class="px-3 py-1 bg-red-600 text-white font-medium rounded-md hover:bg-red-400 cursor-pointer">Shop</button>
        </div>
            </div>

            <div class="w-[40%] h-full flex items-center">
                <div class="flex items-center justify-around space-x-3">
                    <input type="text" placeholder="What are you looking for?" class="bg-gray-100 px-4 py-1 rounded-md">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <button typr="button" class="bg-red-600 text-white px-3 py-1 rounded-md font-medium hover:bg-red-400" href="../../pages/sign-in-page/sign-in-page.html">Log in</button>
                </div>
            </div>
        </div>
</nav>