<footer>

    <div class="w-full h-[350px] bg-red-600">
        <div class="w-full h-[90%] border-b-1 border-red-500 flex justify-center py-10">
            <ul class="w-[80%] flex">
                <li class="w-[20%] h-full space-y-2">
                    <h2 class="text-white font-bold text-xl">Exclusive</h2>
                    <p class="text-white font-medium">Subscribe</p>
                    <p class="text-white">Get 10% off your first order</p>
                    <p class="w-[70%] p-1 text-white border-1 border-white rounded-md"><input type="email" placeholder="Enter your email" class="placeholder-red-400"><i class="fa-regular fa-paper-plane"></i></p>
                </li>
                <li class="w-[20%] h-full space-y-2">
                    <h2 class="text-white font-bold text-xl">Support</h2>
                    <p class="text-white">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
                    <p class="text-white">exclusive@gmail.com</p>
                    <p class="text-white">+88015-88888-9999</p>
                </li>
                <li class="w-[20%] h-full space-y-2">
                    <h2 class="text-white font-bold text-xl">Account</h2>
                    <p class="text-white">My Account</p>
                    <p class="text-white">Login / Register</p>
                    <p class="text-white">Cart</p>
                    <p class="text-white">Wishlist</p>
                    <p class="text-white">Shop</p>
                </li>
                <li class="w-[20%] h-full space-y-2">
                    <h2 class="text-white font-bold text-xl">Quick Link</h2>
                    <p class="text-white">Privacy Policy</p>
                    <p class="text-white">Terms Of Use</p>
                    <p class="text-white">FAQ</p>
                    <p class="text-white">Contact</p>
                </li>
                <li class="w-[20%] h-full"></li>
            </ul>
        </div>

        <div class="w-full h-[10%]">
            <p class="text-red-400 text-center">©Copyright Rimel 2022. All right reserved</p>
        </div>
    </div>
</footer>